<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Yuman-net" value="https://nuget.pkg.github.com/Yuman-net/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <Yuman-net>
        <add key="Username" value="and.nik.dev@gmail.com" />
        <add key="Password" value="${{ secrets.PACKAGE_TOKEN }}" />
      </Yuman-net>
  </packageSourceCredentials>
</configuration>
