<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="GitLab" value="https://git.cmwp.ru/api/v4/projects/30/packages/nuget/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <GitLab>
      <add key="Username" value="deploy" />
      <add key="ClearTextPassword" value="${{ secrets.PKG_SECRET }}" />
    </GitLab>
  </packageSourceCredentials>
</configuration>
