<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Lockal" value="C:\Lockal packages" />
    <add key="Microsoft Visual Studio Offline Packages" value="C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\" />
    <add key="Yuman-net" value="https://nuget.pkg.github.com/Yuman-net/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <Yuman-net>
        <add key="Username" value="and.nik.dev@gmail.com" />
        <add key="Password" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA1TWP/YlOKUuZWCVS0h9fDwAAAAACAAAAAAAQZgAAAAEAACAAAADHOHwY3q6wR8GEfvH2c1XPQoM1TeOpgmv61NZsL5l7/gAAAAAOgAAAAAIAACAAAAB3OXY36VTaeBslNCBXkMn/TxgHskNf+qaj0xCXIeTUoDAAAABBINxkZVg+VmUi1CGqtgvFiSRjmMeAmadFB5+i6bsrRRIm0SxJ0K+xvrRneOVA5UZAAAAAq0LiPVZ26EePL6EPc0w2KBhqY03Ht8xzPW226fZjRbNuU/0VtW1hltkJL7AXLb7w5+hnpeTp9OWktVZBXCq+og==" />
      </Yuman-net>
  </packageSourceCredentials>
</configuration>
